@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Kasa.KasaModel
@{
    ViewData["Title"] = "Kasa";
    Layout = "_Layout_Kasa";
    if (HttpContext.Session.GetInt32("_prac_uid") != 1)
    {
        Response.Redirect("../../Index");
    }
    var imie = HttpContext.Session.GetString("_prac_imie");
    var nazwisko = HttpContext.Session.GetString("_prac_nazwisko");
}
<body>
    <div class="fluid-container m-5 text-center">
        <div class="row m-5">
            <div class="card text-black shadow" style="border-radius: 25px;">
                <h2 class="text-center m-4">Witaj, @imie @nazwisko</h2>
                <b> Możliwe akcje:</b>
                <p>
                    &#x2022; Rejestrcja nowego klienta<br />
                    &#x2022; Sprzedarz Biletu<br />
                    &#x2022; Sprzedarz Karnetu<br />
                    &#x2022; Zarządzanie blokadą karnetu<br /><br />
                    <i>Więcej informacji znajdziesz w <a href="PomocKasa" target="_blank">instrukcji</a></i>
                </p>
            </div>
        </div>
    </div>
</body>