@page
@model Narciarze_v_2.Pages.Strefa_Klienta.CennikModel
@{
    ViewData["Title"] = "Cennik";
}

<div class="text-center">
    <section>
        <h2>&compfn; Cennik</h2>
        <p>W tym miejscu będzie widoczny aktualny cennik.</p>
    </section>
</div>