@page
@model Narciarze_v_2.Pages.Strefa_Klienta.KlientModel
@{
    ViewData["Title"] = "zalogowany";
    Layout = "_Layout_Klient";
    if (HttpContext.Session.GetString("_klient_id") == null)
    {
        Response.Redirect("../Index");
    }
    var imie = HttpContext.Session.GetString("_klient_imie");
    var nazwisko = HttpContext.Session.GetString("_klient_nazwisko");
}

<body>
    <div class="fluid-container m-5 text-center">
        <div class="row m-5">
            <div class="card text-black shadow" style="border-radius: 25px;">
                <h2 class="text-center m-4">Witaj, @imie @nazwisko</h2>
                <b> Możliwe akcje:</b>
                <p>
                    &#x2022; Sprawdzenie statusu swoich biletów<br />
                    &#x2022; Sprawdzenie statusu swoich karnetów<br /><br />
                    <i>Więcej informacji znajdziesz w <a href="PomocKlient" target="_blank">instrukcji</a></i>
                </p>
            </div>
        </div>
    </div>
</body>
