@page
@model Narciarze_v_2.Pages.Strefa_Klienta.KlientModel
@{
    ViewData["Title"] = "Klient";
}
<div class="text-center">
    <section>
        <h2>&compfn; Klient</h2>
        <p>Klient.</p>
    </section>
</div>