@page
@model Narciarze_v_2.Pages.Strefa_Klienta.KlientModel
@{
    ViewData["Title"] = "zalogowany";
    Layout = "_Layout_Klient";
    if (HttpContext.Session.GetString("_klient_id") == null)
    {
        Response.Redirect("../Index");
    }
}

<div class="text-center">
    <section>
        <h2>&compfn;Witaj XYZ </h2>

    </section>
</div>
