@page
@model Narciarze_v_2.Pages.Strefa_Klienta.KlientModel
@{
    ViewData["Title"] = "zalogowany";
    Layout = "_Layout_Klient";
    if (HttpContext.Session.GetString("_klient_id") == null)
    {
        Response.Redirect("../Index");
    }
    var imie = HttpContext.Session.GetString("_klient_imie");
    var nazwisko = HttpContext.Session.GetString("_klient_nazwisko");
}

<div class="text-center">
    <section>
        <h2>Witaj @imie @nazwisko ! </h2>

    </section>
</div>
