@page
@model Narciarze_v_2.Pages.Strefa_Klienta.Raport_klientModel
@{
    ViewData["Title"] = "Raport zakupów";
    Layout = "_Layout_Klient";
}
<div class="text-center">
    <section>
        <h2>&compfn;Twoje bilety: </h2>

    </section>
</div>
