@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Zarzad.RaportyModel
@{
    ViewData["Title"] = "Raporty";
    Layout = "_Layout_Zarzad";
    if (HttpContext.Session.GetInt32("_prac_uid") != 2)
    {
        Response.Redirect("Zarzad");
    }
}
<div class="text-center">
    <section>
        <h2>&compfn;Wsyniki sprzedarzy Biletów/Karnetów</h2>
        <a class="text-dark" asp-area="" asp-page="/Strefa_Administracji/Zarzad/cenniki">Aktualne cenniki do wydruku</a><br />
        <a class="text-dark" asp-area="" asp-page="/Strefa_Administracji/Zarzad/gen_raport">Przychód w miesiącach i liczba sprzedanych biletów i karnetów</a>
    </section>
</div>