@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Zarzad.ZarzadModel
@{
    ViewData["Title"] = "Zarząd";
    Layout = "_Layout_Zarzad";
    if (HttpContext.Session.GetInt32("_prac_uid") != 2)
    {
        Response.Redirect("../../Index");
    }
    var imie = HttpContext.Session.GetString("_prac_imie");
    var nazwisko = HttpContext.Session.GetString("_prac_nazwisko");
}
<body>
    <div class="fluid-container m-5 text-center">
        <div class="row m-5">
            <div class="card text-black shadow" style="border-radius: 25px;">
                <h2 class="text-center m-4">Witaj, @imie @nazwisko</h2>

                <b> Możliwe akcje:</b>
                <p>
                    &#x2022; Zmiana istniejącego cennika<br />
                    &#x2022; Stworzenie nowego cennika<br />
                    &#x2022; Wygenerowanie raportu<br /><br />
                    <i>Więcej informacji znajdziesz w <a href="PomocZarzad" target="_blank">instrukcji</a></i>
                </p>
                </p>
            </div>
        </div>
    </div>
</body>
