@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Zarzad.ZarzadModel
@{
    ViewData["Title"] = "Zarząd";
    Layout = "_Layout_Zarzad";
    if (HttpContext.Session.GetInt32("_prac_uid") != 2)
    {
        Response.Redirect("../../Index");
    }
}
<div class="text-center">
    <section>
        <h2>&compfn;Witaj Zarzad.</h2>

    </section>
</div>