@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Zarzad.ZmianaCennikaModel
@{
    ViewData["Title"] = "Edycja cennika";
    Layout = "_Layout_Zarzad";
}
<div class="text-center">
    <section>
        <h2>&compfn;Edytuj ceny Biletów/KArnetów</h2>

    </section>
</div>
