@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<body>
    <div class="fluid-container m-5 text-center">
        <div class="row m-5">
            <div class="card text-black shadow" style="border-radius: 25px;">
                <h2 class="text-center m-4">O nas</h2>
                <p>Chcesz poszusować o każdej porze roku?<br /> <br />Dobrze się składa, <b>nasz kompleks oferuje #szusowanko zawsze kiedy masz na to ochotę</b>.<br /><br />
                    Dzięki nowoczesnym budynkom utrzymującym klimat zaśnieżonego stoku możesz szusować nawet gdy na zewnątrz panuje upał.<br /> </p>
                <img src="~/images/ski.jpg" class="img-fluid rounded-pill" alt="Nasza hala narciarska" />
            </div>
        </div>
    </div>
</body>

