@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <section>
        <h2>&compfn; O Nas</h2>
        <p>Opis Kompleksu Narciarskiego</p>
    </section>
</div>
