@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <section>
        <h2>O Nas</h2>
        <p>Chcesz poszusować o każdej porze roku?<br /> <br />Dobrze się składa, <b>nasz kompleks oferuje #szusowanko zawsze kiedy masz na to ochotę</b>.<br /><br />
            Dzięki nowoczesnym budynkom utrzymującym klimat zaśnieżonego stoku możesz szusować nawet gdy na zewnątrz panuje upał.<br /> </p>
            <img src="~/images/ski.jpg" alt="Nasza hala narciarska" />
    </section>
</div>
