@page
@model Narciarze_v_2.Pages.Strefa_Klienta.KontaktModel
@{
    ViewData["Title"] = "Kontakt";
}
<div class="text-center">
    <section>
        <h2>Kontakt</h2>
        <p> Możesz nawiązać z nami kontakt osobiście, telefonicznie lub mailowo.</p>
        <p>Nasza siedziba znajduje się pod adresem:<br/> <span class="glyphicon glyphicon-map-marker"> ul.Wyimaginowana 123, Gliwice 44-100 </span></p>
        <p>Nasz numer telefonu : <br/><span class="glyphicon glyphicon-phone"> 123456789</p>
        <p>Nasz aders email: <br/><span class="glyphicon glyphicon-envelope"></span> narciarze@hala_gliwice.pl</p>
    </section>
</div>