@page
@using Microsoft.AspNetCore.Http
@model Narciarze_v_2.Pages.LogowanieModel
@{
    ViewData["Title"] = "Logowanie";
    var klient_id = HttpContext.Session.GetString("_klient_id");
    var klient_imie = HttpContext.Session.GetString("_klient_imie");
    var klient_nazwisko = HttpContext.Session.GetString("_klient_nazwisko");
}

<div class="m-5">
    @{
        if (klient_id != null)
        {
            <p>Jesteś już zalogowany</p>
        }
        else
        {
            <form class="justify-content-center" method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" name="email" class="form-control" />
            <label class="form-label" for="email_input">Adress Email</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" name="haslo" class="form-control" />
            <label class="form-label" for="email_input">Hasło</label>
        </div>

        <!-- Submit button -->
        <button type="button" id="log_in_button" class="btn btn-primary btn-block mb-4">Zaloguj</button>
         <a asp-area="" asp-page="Rejestracja">
        <button type="button" id="sign_in_button" class="btn btn-primary btn-block mb-4">
            Zarejestruj</button></a>

    </form>
        }
    }
    
</div>

<div class="text-center m-3">
        <a class="text-dark" asp-area="" asp-page="/Strefa_Klienta/Klient">Klient</a>
        <a class="text-dark" asp-area="" asp-page="/Strefa_Administracji/Administrator/Administrator">Admin</a>
        <a class="text-dark" asp-area="" asp-page="/Strefa_Administracji/Kasa/Kasa">Kasa</a>
        <a class="text-dark" asp-area="" asp-page="/Strefa_Administracji/Zarzad/Zarzad">Zarzad</a>
</div>