@page
@model Narciarze_v_2.Pages.LogowanieModel
@{
    ViewData["Title"] = "Logowanie";
}
<div class="text-center">
    <section>
        <h2>&compfn; Logowanie</h2>
        <label for="username">Nazwa użytkownika:</label>
        <input type="text" id="username" name="username"><br />
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password"><br />

        <button type="submit">Zaloguj</button>
        <br/><br/>
        <a class="text-dark" asp-area="" asp-page="/Strefa_Klienta/Klient">Klient</a>
        <a class="text-dark" asp-area="" asp-page="/Strefa_Administracji/Administrator/Administrator">Admin</a>
        <a class="text-dark" asp-area="" asp-page="/Strefa_Administracji/Kasa/Kasa">Kasa</a>
        <a class="text-dark" asp-area="" asp-page="/Strefa_Administracji/Zarzad/Zarzad">Zarzad</a>
    </section>
</div>