@page
@using Microsoft.AspNetCore.Http
@model Narciarze_v_2.Pages.LogowanieModel
@{
    ViewData["Title"] = "Logowanie";
    var klient_id = HttpContext.Session.GetInt32("_klient_id");
    var klient_imie = HttpContext.Session.GetString("_klient_imie");
    var klient_nazwisko = HttpContext.Session.GetString("_klient_nazwisko");
}

<div class="m-5">
    @{
        if (klient_id > 0)
        {
            Response.Redirect("/Strefa_Klienta/Klient");
        }
        else
        {
            <form class="justify-content-center" method="post">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" name="email" class="form-control" />
                <label class="form-label" for="email_input">Adress Email</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" name="haslo" class="form-control" />
                <label class="form-label" for="email_input">Hasło</label>
            </div>

            <!-- Submit button -->
            <button type="submit" id="log_in_button" class="btn btn-primary btn-block mb-4">Zaloguj</button>

            </form>
        }
    }
    
</div>

<div class="text-center m-3">
        <a class="text-dark" asp-area="" asp-page="Logowanie_prac">Logowanie pracownika</a>
</div>