@page
@model Narciarze_v_2.Pages.Strefa_Klienta.TrasyModel
@{
    ViewData["Title"] = "Trasy";
}
<div class="text-center">
    <section>
        <h2>&compfn; Trasy</h2>
        <p>TABELE TRAS</p>
    </section>
</div>