@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Kasa.BlokowanieModel
@{
    ViewData["Title"] = "Blokowanie";
    Layout = "_Layout_Kasa";
}
<div class="text-center">
    <section>
        <h2>&compfn;Edytuj statusu Biletów/KArnetów</h2>

    </section>
</div>
