@page
@model Narciarze_v_2.Pages.LogowanieModel
@{
    ViewData["Title"] = "Logowanie";
}
<div class="text-center">
    <section>
        <h2>&compfn; Logowanie</h2>
        <label for="username">Nazwa użytkownika:</label>
        <input type="text" id="username" name="username">
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password">
    </section>
</div>