* {
    font-family: calibri;
    box-sizing: border-box;
}

body {
    margin: 5px 40px 40px 40px;
    background-color: lightgray;
}

.wrapper {
    display: grid;
    grid-template-areas:
        "header header"
        "navbar navbar"
        "content content"
        "footer footer";
}

header {
    grid-area: header;
    text-align: center;
}

    header p {
        margin: 0;
        background-color: lavender;
        border-radius: 20px;
        color: darkgray;
    }

        header p:hover {
            color: black;
            font-weight: 600;
        }

    header h1 {
        font-family: fantasy;
        font-weight: 400;
        letter-spacing: 4px;
        margin-top: 0;
    }

#logo {
    width: auto;
    max-height: 80px;
    margin-top: 5px;
    align-items: center;
}

nav {
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    grid-area: navbar;
    text-align: center;
    column-gap: normal;
}

    nav p {
        display: inline-grid;
        margin: 20px;
    }

        nav p a {
            color: black;
            letter-spacing: 2px;
            text-decoration: none;
        }

        nav p:hover {
            background-color: rgba(127, 255, 212, 0.6);
            border-radius: 8px;
        }

        nav p a:hover {
            text-decoration: underline;
            font-weight: 800;
        }

.aktive {
    font-size: 20px;
    font-weight: 800;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.tab {
    font-size: 18px;
    font-weight: 600;
}

article {
    min-height: 300px;
    padding: 0 40px 0 40px;
    align-content: center;
    grid-area: content;
    display: grid;
    grid-gap: 3vw;
    grid-template-areas:
        "article aside";
}

    article section {
        grid-area: article;
        min-width: 40vw;
    }

        article section p {
            text-align: justify;
            text-indent: 5%;
        }

    article a {
        color: black;
    }

    article aside {
        grid-area: aside;
        min-width: 40vw;
    }

        article aside p {
            text-align: justify;
            text-indent: 5%;
        }

footer {
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    font-family: fantasy;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
    grid-area: footer;
}


/*Punkty Kluczowe*/

@media screen and (max-width: 600px) {

    nav p {
        display: grid;
        margin: 10px;
    }

    #logo {
        width: auto;
        max-height: 50px;
    }

    header h1 {
        font-weight: 300;
        letter-spacing: 0;
    }

    article {
        grid-template-areas:
            "article"
            "aside";
    }
}
/* LOGOWANIE */
#panel {
    margin: 0 0 0 45%;
    width: 50%;
    font: 16px calibri;
    letter-spacing: -1px;
}

label {
    display: block;
    width: 75%;
    padding: 10px 20px;
    color: #292727;
    font-size: 16px;
}

#username, #password {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 10px 5px;
    font-size: 16px;
}

    #username:focus, #password:focus {
        outline: 1px solid #e5f2f8;
    }

#lower {
    width: 100%;
    margin-top: 20px;
}

input[type="submit"] {
    width: 70px;
    padding: 5px 13px;
    border: 1px solid #005f85;
    color: white;
    text-shadow: 0 0 1px black;
    background: #98c9dc;
    position: relative;
    margin: 0 40%;
}
