@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Zarzad.RaportyModel
@{
    ViewData["Title"] = "Raporty";
    Layout = "_Layout_Zarzad";
}
<div class="text-center">
    <section>
        <h2>&compfn;Wsyniki sprzedarzy Biletów/Karnetów</h2>

    </section>
</div>