@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Administrator.AdministratorModel
@{
    ViewData["Title"] = "ADMIN";
    Layout = "_Layout_Admin";
}
<div class="text-center">
    <section>
        <h2>&compfn; Witaj Administrator</h2>
        
    </section>
</div>
