@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Administrator.EdycjaStokowModel
@{
    ViewData["Title"] = "Edycja stoków";
    Layout = "_Layout_Admin";
}
<div class="text-center">
    <section>
        <h2>&compfn; Edytuj stoki</h2>

    </section>
</div>
