@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Administrator.AdministratorModel
@{
    ViewData["Title"] = "ADMIN";
    Layout = "_Layout_Admin";
    if (HttpContext.Session.GetInt32("_prac_uid") != 3)
    {
        Response.Redirect("../../Index");
    }
}
<div class="text-center">
    <section>
        <h2>&compfn; Witaj Administrator</h2>
        
    </section>
</div>
