@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Administrator.BazaDanychModel
@{
    ViewData["Title"] = "BD";
    Layout = "_Layout_Admin";
}
<div class="text-center">
    <section>
        <h2>&compfn; Edycja Bazy Danych</h2>

    </section>
</div>