@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Administrator.HarmonogramModel
@{
    ViewData["Title"] = "Edycja Harmonogramu";
    Layout = "_Layout_Admin";
}
<div class="text-center">
    <section>
        <h2>&compfn; Edycja Harmongramu</h2>

    </section>
</div>
