@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Administrator.PracownicycshtmlModel
@{
    ViewData["Title"] = "Pracownicy";
    Layout = "_Layout_Admin";
    if (HttpContext.Session.GetInt32("_prac_uid") != 3)
    {
        Response.Redirect("Administrator");
    }
}

<body>
    <div class="fluid-container m-5">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="card text-black" style="border-radius: 25px;">
                            <div class="m-3">
                                <p class="text-center h3 fw-bold ">Dodaj Pracownika</p>
                                <form method="post" class="m-3">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" name="imie" class="form-control" required />
                                            <label class="form-label" for="imie">Imię</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" name="nazwisko" class="form-control" required />
                                            <label class="form-label" for="nazwisko">Nazwisko</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <select name="rola" class="form-control">
                                                <option value="1">Kasa</option>
                                                <option value="2">Zarzad</option>
                                                <option value="3">Admin</option>
                                            </select>
                                            <label class="form-label" for="rola">Rola</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" name="email" class="form-control" required />
                                            <label class="form-label" for="email">Email</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" name="haslo" class="form-control" required />
                                            <label class="form-label" for="haslo">Hasło</label>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center m-2">

                                        <input type="submit" value="Dodaj" class="btn btn-primary btn-block mb-4" asp-page-handler="Rejestracja" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row m-5">
        <div class="col-md-12">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="m-3">
                            <p class="text-center h3 fw-bold ">Usuń Pracownika</p>

                            <form method="post" class="m-3">

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">

                                        <input type="search" class="form-control" placeholder="ID: Imię i nazwizko" list="pracownicy-list" id="pracownik" name="pracownik">
                                            <datalist name="pracownik" id="pracownicy-list">
                                                @foreach (var a in Model.p)
                                                {
                                                    <option value="@a.id: @a.imie @a.nazw"></option>
                                                }
                                            </datalist>

                                        <label class="form-label" for="pracownik">ID: Imie i nazwisko</label>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center m-2">

                                    <input type="submit" value="Usuń" class="btn btn-primary btn-block mb-4" asp-page-handler="Usuwanie" />
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>