@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Administrator.StatusWyciagowModel
@{
    ViewData["Title"] = "status wyciągów";
    Layout = "_Layout_Admin";
}
<div class="text-center">
    <section>
        <h2>&compfn;Edytuj statusy wyciągów</h2>

    </section>
</div>
