@page
@model Narciarze_v_2.Pages.Strefa_Administracji.Administrator.StatusWyciagowModel
@{
    ViewData["Title"] = "status wyciągów";
    Layout = "_Layout_Admin";
}
<div class="container m-5">
    <div class="row m-5">
        <div class="card text-black shadow" style="border-radius: 25px;">
            <h2 class="text-center mt-4">Status Wyciągów</h2>

            <div class="table-responsive text-center m-4">
                <table class="table table-bordered table-hover table-aktive table-striped table-light align-middle table-sm">
                    <thead class="table-dark">
                        <tr>
                            <th>Wyciag</th>
                            <th>Stan</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var wyciag in Model.trasy)
                        {
                            <tr>
                                <td>@wyciag.Wyciag</td>
                                <td>
                                    <select class="form-control">
                                        @if (wyciag.Stan == "True")
                                        {
                                            <option value="@wyciag.Stan" selected>Czynny</option>
                                            <option value="False">Nieczynny</option>
                                        }
                                        else if (wyciag.Stan == "False")
                                        {
                                            <option value="@wyciag.Stan" selected>Nieczynny</option>
                                            <option value="False">Czynny</option>
                                        }

                                    </select>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="d-flex justify-content-center m-2">
                    <input type="submit" value="Zatwierdź" class="btn btn-primary btn-block mb-4" asp-page-handler="Zatwierdz" />
                </div>
            </div>

        </div>
    </div>
</div>
