@page
@model Narciarze_v_2.Pages.Strefa_Klienta.KlientModel
@{
    ViewData["Title"] = "zalogowany";
    Layout = "_Layout_Klient";
}
<div class="text-center">
    <section>
        <h2>&compfn;Witaj XYZ </h2>

    </section>
</div>
