@page
@model Narciarze_v_2.Pages.Strefa_Klienta.KontaktModel
@{
    ViewData["Title"] = "Kontakt";
}
<div class="text-center">
    <section>
        <h2>&compfn; Kontakt</h2>
        <p> W tym miejscu znajdą się informacje kontaktowe.</p>
    </section>
</div>